@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
}

html {
height: 100%;
}
/* *********************************** */
/* ПРИ ПОМОЩИ flex ПРИЖАЛ ФУТЕР К НИЗУ */
body {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
height: 100%;
font-family: 'Roboto', sans-serif;
/*  В качестве фона на всех страницах установить цвет #f8f8f8.  */
background-color: #f8f8f8;
text-decoration: none;
}

main {
/* 1 flex-grow, 0 flex-shrink, auto flex-basis */
-webkit-box-flex: 1;
-ms-flex: 1 0 auto;
flex: 1 0 auto;
}
footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

/***************************************/
/*  НАЧАЛО СТИЛЕЙ ДЛЯ СТРАНИЦ САЙТА */
/**/
/* HEADER */
.container {
width: 80%;
margin-right: auto;
margin-left: auto;
}
header {
/* 0 flex-grow, 0 flex-shrink, auto flex-basis */
/*  -webkit-box-flex: 0;
 -ms-flex: 0 0 auto;
flex: 0 0 auto;*/
/*background-color: #dfe3ee;*/
    background-image:url("img/paper-1920.jpg");
    background-repeat: no-repeat;
}
/* Выравнивание для дз-5 сделал:
 - присвоил для элементов header(header_logo, .header_title, .header_menu ) стиль display: inline-block;
 - присвоил для их родителя(.header) стиль text-align: center;
 - дальше ииспользуя margin-ы для .header_title раздвигал лого и меню.
  В предыдущих заданиях (дз-3, дз-4) ровнял шапку при помощи flex */
.header {
text-align: center; /* Выравнивание по центру */
height: 100px;
}
.header_logo {
display: inline-block;
vertical-align: middle;

}
.header_logo img {
/* width: 50%; */
}
.header_logo a {
cursor: pointer;
}

.header_title {
display: inline-block;
vertical-align: middle;

font-size: 12px;
text-transform: uppercase;
color: #f77812;
margin-right: 100px;
margin-left: 100px;
}

/* Меню */
.header_menu {
display: inline-block;
vertical-align: middle;
}
nav ul {


/*  Для всех ссылок меню задать определённый стиль (Цвет текста, размер шрифта, начертание шрифта и т.д.)  */
}

nav ul li {
display: inline-block;
margin: 0 10px;
list-style-type: none;
}

nav ul li a {
text-decoration: none;
text-transform: uppercase;
color: #919191;
font-family: 'Nunito', sans-serif;

}

.menu_active {
color: #2C3E50;
font-weight: bold;
}

nav ul li a:hover {
cursor: pointer;
color: #34495E;
}

nav ul li a:active {
color: #000;
}

/* **************************** */
/*  ГЛАВНАЯ СТРАНИЦА index.html */
/**/

h1 {
margin-top: 40px;
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
}

.capital_welcome {
color: #000;
margin-bottom: 30px;
}

.capital_welcome,
main article {
margin-left: 20px;
margin-right: 20px;
}

.main_welcome article {
text-align: center;
}

/* ************************************ */
/*    СТРАНИЦА КАТАЛОГА catalog.html    */
/**/

.catalog_content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-pack: distribute;
justify-content: space-around;
margin-top: 20px;
}

.catalog_product figure {
text-align: center;
}

.catalog_product img {
width: 450px;
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.22), -10px -10px 25px rgba(0, 0, 0, 0.22);
margin-bottom: 10px;
}

.catalog_product img:hover {
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.35), -10px -10px 25px rgba(0, 0, 0, 0.35);
}

.catalog_product figcaption {
margin-bottom: 30px;
}
.catalog_product figcaption a {
text-decoration: none;
text-transform: lowercase;
}

.catalog_product figcaption a:hover {
color: #fff;
background: #707070;
}


/**/
/*     Продукты     */
/**/

.product {
margin: 0 auto;
width: 80%;
}

.product h3, h4 {
margin-bottom: 10px;
font-weight: 400;
background-color: #eaeaea;
}

.product h3 {
font-size: 22px;
}

.product h4 {
font-size: 18px;
margin-top: 20px;
}

.product p,
. product ul {
margin-bottom: 10px;

}

.product_description h3 {
/*margin-left: 0;*/
    overflow: hidden;
    padding-left: 20px;
}

.product_description p {
/*background: #707070;*/
color: #000000;
font-style: italic;
margin-bottom: 20px;
padding: 5px;
font-size: 14px;
line-height: 16px;
}
.product_description p:last-child {
    margin-bottom: 20px;
}

.product_description a {
/*text-align: center;*/
/*display: block;*/
    float: left;
}

/*.product_description img {*/
/*    background: #919191; !* Цвет рамки *!*/
/*    padding: 5px; !* Толщина рамки *!*/
/*}*/
.product_description img {
outline-width: thick;
outline-style: solid;
outline-color: #f77812;
    margin-right: 10px;
    margin-bottom: 20px;
}
.product_description img:hover {
/*outline-width: thick;*/
/*outline-style: solid;*/
/*outline-color: #f77812;*/
/*width: 400px;*/
/*height: 400px;*/
outline-style: none;
/*outline-width: unset;*/
}
/**
 * Сброс стилей у кнопки.
 * Чтобы получить нейтральный вид.
*/
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;

}

/**
 * Кнопка, стилизация
 */
.btn {
    /* по-умолчанию для <button>, но пригодится для <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;


    /* создаём маленькие отступы, если кнопки перенесутся на две строки */
    margin: 2px 0;

    /* невидимая граница (понадобится для цвета при наведении/фокусе) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* размер строится из текста и отступов (без width/height) */
    padding: 20px 60px;

    /* убедитесь, что достаточно контраста! */
    color: #ffffff;
    background-color: #10c52c;
}

/* олдскульный эффект «нажатия» + цветовые правки */
.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

/* инвертируем цвета при наведении */
.btn:hover {
    color: #9050aa;
    border-color: currentColor;
    background-color: white;
}

/* Firefox: сбрасываем внутреннюю границу при фокусе */
.btn::-moz-focus-inner {
    border: none;
}

/* убеждаемся, что есть видимые границы при фокусе */
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

/* скрываем фокусные стили, если используется не клавиатура */
.js-focus-visible .btn:focus:not(.focus-visible) {
    box-shadow: none;
}
/* End стилей для кнопки */

.product_feature {
    clear: both;
}
/* Вставка Таблицы*/
table {
width: 100%;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 3px;
}
th {
background: #707070;
color: #fff;
height: 60px;
}
.feature_table {
background: #f77812;
}

.product_feature ul {
margin-top: 20px;
}
.product_feature li {
list-style-type: none;
padding-left: 20px;
background-image: url('./img/image-bee-110x104.png');
background-position: top left;
background-size: 15px;
background-repeat: no-repeat;
line-height: 26px;
font-family: 'Nunito', sans-serif;
font-weight: 400;
}

.product_detailed p {
color: #484343;
font-size: 16px;
font-weight: 400;
line-height: 24px;
-ms-text-align-last: right;
text-align: left;

}
.product_detailed p::first-letter,
.product_face p::first-letter {
font-size: 24px;
color: #F77812;
}

.product_face {
margin-bottom: 40px;
}

/* *********************************** */
/*   СТРАНИЦА КОНТАКТЫ contacts.html   */
/**/

#contacts {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.contacts_form  {
width: 600px;
height: 450px;
}
form input,
select,
textarea {
width: 300px;
height: 20px;
}

form p {
margin: 20px;
}

fieldset {
margin-bottom: 15px;
padding: 10px;
margin: 20px;
}

legend {
padding: 0px 3px;
font-weight: bold;
font-variant: small-caps;
}

label {
width: 110px;
display: inline-block;
vertical-align: top;
margin: 6px;
}

em {
font-weight: bold;
font-style: normal;
color: #f00;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
background: #eae58f;
cursor: pointer;
}


input[type="text"]::placeholder,
input[type="email"]::placeholder {
color: #ff0000;
font-size: 12px;
font-style: italic;
letter-spacing: 1.3px;
}

textarea {
height: 100px;
}

/* !!!! стилизация плейсхолдера была особенно муторной*/
textarea::-webkit-input-placeholder {
color: #ff0000;
font-size: 12px;
font-style: italic;
letter-spacing: 1.3px;
}

textarea::-moz-placeholder {
color: #ff0000;
font-size: 12px;
font-style: italic;
letter-spacing: 1.3px;
}

/* Firefox 19+ */
textarea:-moz-placeholder {
color: #ff0000;
font-size: 12px;
font-style: italic;
letter-spacing: 1.3px;
}

/* Firefox 18- */
textarea:-ms-input-placeholder {
color: #ff0000;
font-size: 12px;
font-style: italic;
letter-spacing: 1.3px;
}


input[type=checkbox] {
width: 10px;
}

.form_button {
display: flex;
justify-content: space-between;
}
input[type=text]  {
text-transform: capitalize;
}
textarea[type=text]:first-letter {
text-transform:capitalize ;
}
/*input[type="text"]:focus,*/
/*textarea[type="text"]:focus {*/
/*    text-transform: capitalize;*/
/*}*/
input[type=email]:focus {
background-color: gray;
color: #fff;

}

input[type=email]:invalid {
background-color: #ff0000;
}

input[type=submit],
input[type=reset] {
width: 200px;
padding: 10px;
height: 40px;
}
.contact_address h3 {
padding-left: 20px;
margin-top: 20px;
margin-bottom: 24px;

}

iframe {
margin-left: 20px;
margin-bottom: 20px;
box-shadow: 1px 1px 25px rgba(0,0,0,0.3);
    width: 100%;
    height: 374px;
}

.contact_address p {
margin-left: 20px;
margin-top: 20px;
margin-bottom: 40px;
}
/* *********** */
/* ФУТЕР САЙТА */
/**/
.footer {
    height: 100px;
    /*background-color: #dfe3ee;*/
    background-image:url("img/paper-1920.jpg");
    background-repeat: no-repeat;
}
/* Выравнивание для дз-5 сделал через flex */
.footer_wrap {
    height: 100px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-right: 20px;
}

